@model IEnumerable<Gateau>

@foreach (var gateau in Model)
{
    <div class="col-md-4 mb-4">
        <div class="card shadow-lg h-100 border-pink">
            <img src="~/@gateau.ImageModel" class="card-img-top" alt="@gateau.Name" style="object-fit:cover;height:250px;">
            <div class="card-body">
                <h5 class="card-title">@gateau.Name</h5>
                <p class="card-text">@gateau.Description</p>
                <p class="fw-bold text-danger">@gateau.Price €</p>
                <button class="btn btn-outline-primary" onclick="openModal('@gateau.Id', '@gateau.Name', '@gateau.Price', '@gateau.Description', '@gateau.ImageModel')">
                    Personnaliser
                </button>
            </div>
        </div>
    </div>
}
