@model IEnumerable<PatPilot.Models.Enseigne>

@{
    // Layout = "~/Views/Shared/_LayoutClient.cshtml";
    ViewData["Title"] = "Choisissez une enseigne";
}

<style>
    .col_radius{
        border-radius:20px;
    }
</style>
<div class="container py-5">
    <h2 class="text-center mb-4">Bienvenue ! Choisissez votre enseigne</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        @foreach (var enseigne in Model)
        {
            <div class="col">
                <div class="card h-100 border-0 shadow-lg hover-shadow col_radius">
                    <img src="@Url.Content("~/img/" + enseigne.logo)" class="card-img-top p-3" style="height: 160px; object-fit: contain;" alt="@enseigne.Name" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@enseigne.Name</h5>
                        <p class="card-text">@enseigne.ContactName</p>
                        <a asp-controller="Commandes" asp-action="Index" asp-route-Id="@enseigne.Id" class="btn btn-dark mt-2">
                            Choisir
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

